html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(calc-ya-later-bg-img.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 315px;
	height: 415px;
}

#calc-container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);
	row-gap: 20px;
	column-gap: 10px;
	grid-template-areas: 
	"display display display display"
	"delete clear power divide"
	"seven eight nine multiply"
	"four five six subtract"
	"one two three add"
	"neg zero decimal operate";
}

.btn {
	height: 45px;
	border-radius: 6px;
	border-color:rgb(180, 180, 180);
	font-size: 22px;
	color: rgb(255, 255, 255);
	background-color: rgba(167, 182, 176, 0.573);
}

.btn:hover {
	color: rgb(202, 150, 73);
	cursor: pointer;
	transform: scale(1.05);
}

.num-btn:hover {
	color:rgb(63, 193, 150);
}

#display {
	grid-area: display;
	height: 75px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-radius: 6px;
	border: 2px solid rgb(110, 110, 110);
	background-color: rgba(63, 193, 150, 0.848);
	box-shadow: inset 1px 1px 14px #000000;
	
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	
	font-size: 60px;
}

#delete {
	grid-area: delete;
}

#delete:hover {
	color: rgb(235, 0, 0);
}

#clear {
	grid-area: clear;
}

#power {
	grid-area: power;
}

#divide {
	grid-area: divide;
}

#multiply {
	grid-area: multiply;
}

#subtract {
	grid-area: subtract;
}

#add {
	grid-area: add;
}

#neg {
	grid-area: neg;
}

#decimal {
	grid-area: decimal;
}

#operate {
	grid-area: operate;
}

#nine {
	grid-area: nine;
}

#eight {
	grid-area: eight;
}

#seven {
	grid-area: seven;
}

#six {
	grid-area: six;
}

#five {
	grid-area: five;
}

#four {
	grid-area: four;
}

#three {
	grid-area: three;
}

#two {
	grid-area: two;
}

#one {
	grid-area: one;
}

#zero {
	grid-area: zero;
}

